services:
  app:
    container_name: be
    build: .
    ports:
      - "9000:9000"
    volumes:
      - .:/app
      - /app/__pycache__
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1
